/*Остальное сделать не успел... Потратил очень много времени можно сказать впустую...*/
* {
    margin: 0;
}

body {
    font-size: 30px;
}

.logo {
    width: 20px;
    height: 20px;
}

.search {
    display: block;
    position: relative;
    left: 250px;
    width: 300px;
    
}

nav {
    display: block;
    position: relative;
    left: 600px;
    width: 300px;
}

.phone_number {
    display: block;
    position: relative;
    left: 900px;
    float: none;
}
